.sidebar {
    width: 25%;

    button {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        border: none;
        background-color: #f0f2f5;
        font-size: 0.9em;
        font-weight: bold;
        color: #3d3e3f;
        margin-bottom: 5px;
        justify-content: center;
    }
    button:hover {
        background-color: #d6d6d669;
        border-radius: 8px;
    }
    @include media-min("phone-down") {
        font-size: 0.75em;
    }
}
