.sidebarleft {
    font-family: 'Poppins';
    font-size: 20px;
    width: 300px;
    flex-shrink: 0;
    background-color: #241b14;
    display: grid;
    position: fixed;
    color: #F5F5F5;
    z-index: 5;

    @media screen and (max-width: 512px) {
        width: 100%;
        height: 50px;
        bottom: 0;
    }

    .logo img {
        width: 150px;
        height: 150px;
    }

    .sideleft {
        min-height: calc(100vh - 80px);
    }

    .sideleft,
    .navLink {
        display: flex;
        font-weight: 600;
        flex-direction: column;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        cursor: pointer;

        @media screen and (max-width: 512px) {
            display: none;
        }
    }

    .navLinkA {
        padding-bottom: 10px;
    }

    .navLinkA,
    .navLinkOpened {
        margin-top: 40px;
        padding-top: 10px;
        cursor: pointer;
    }

    .overflow {
        height: min(50vh, calc(100vh - 480px));
        margin-top: 10px;
        overflow-y: auto;
        background-color: #241b14;

        @media screen and (max-height: 512px) {
            height: 24vh;
        }
    }

    .navLinkSub,
    .navLinkSubA {
        display: flex;
        font-weight: 400;
        flex-direction: column;
        text-align: left;
        padding: 10px;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: #F5F5F5;
    }

    .selected {
        color: yellow;
    }
}

.sidedown {
    height: 80px;
    width: 100%;

    .navLinkLogout {
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 73.5px;
        padding-right: 73.5px;
        cursor: pointer;
    }

    @media screen and (max-width: 512px) {
        display: none;
    }

    .navLinkLogout:hover {
        font-weight: 600;
        background-color: #e09462;
        border-radius: 5px;
    }

    .red {
        color: red;
    }
}

.navLink:hover,
.navLinkA:hover,
.navLinkOpened {
    font-weight: 600;
    background-color: #cd72d9;
    border-radius: 5px;
}

.navLinkSub:hover,
.navLinkSubA:hover {
    background-color: #d94272;
}

.responsive {
    display: none;

    @media screen and (max-width: 512px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        filter: invert(1);

        .logo img {
            width: 48px;
            height: 48px;
            filter: invert(1);
        }

        .red img {
            filter: brightness(1) invert(.75) sepia(1) hue-rotate(135deg) saturate(4);
        }

        .selected img {
            filter: brightness(1) invert(.5) sepia(1) hue-rotate(195deg) saturate(64);
        }
    }
}