.Header {
    border: 1px solid black;
    display: flex;
    align-items: center;

    img {
        width: 160px;
        height: 160px;
    }

    .div-logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .connexion {
        margin-right: 5em;
    }
}