.Header {
    border: 1px solid black;
    display: flex;
    align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
background-color: #F4F6F7;

    img {
        width: 180px;
        height: 180px;
        animation: scaleAndRotate 3s ease infinite; 
    }

    .div-logo {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .connexion {
        margin-right: 5em;
    }

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 3rem;
        text-align: center;
        color: #333;
        animation: scaleAndRotate 3s ease infinite; 
    }
    @keyframes scaleAndRotate {
        0% {
          transform: scale(1);
        }
        80% {
          transform: scale(1.1) rotate(10deg);
        }
        100% {
          transform: scale(1);
        }
      }

    .card-header {
        margin-right: 2em;
    }
}