.login-container {
    width: 600px;
    height: auto;
    border: 3px solid #0d6efd;
border-right: #dededd;
border-bottom: #dededd;
Background-color:#dededd;
margin-left: 30%;
    margin-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px 30px 30px 30px;
    h1{
        color: rgb(33, 37, 37);
        font-size: xx-large;
        margin-top: 40px;
    }

}
